MODE=DEV
LOG_LEVEL=INFO

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=postgres

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_USER=postgres
TEST_DB_PASS=postgres
TEST_DB_NAME=postgres_test

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=xxx
SMTP_PASS=yyy

REDIS_HOST=localhost
REDIS_PORT=6379

SENTRY_DSN=xxx

SECRET_KEY=xxx
ALGORITHM=HS256